<html>
<head>
  <title>Documentation</title>
  <link href='assets/bass.css' type='text/css' rel='stylesheet' />
</head>
<body>
  <div class='fixed sm-col-3 md-col-2 top-0 bottom-0 left-0 overflow-auto white bg-slate'>
    <h2>documentation</h2>
  </div>
  <div class='sm-col sm-col-9 md-col-10 flex flex-column'>
    <div class='flex-auto full-width container-small'>
    </div>
  </div>
</body>
</html>
