{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "6.10"
      }
    }],
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-syntax-function-bind",
    "transform-function-bind"
  ],
  "ignore": [
      "**/default_theme/assets/*"
  ]
}
