{
  "presets": [
    ["env", {
      "targets": {
      "node": 4
      },
      "include": ["transform-regenerator"]
    }],
    "flow"
  ],
  "plugins": ["syntax-async-functions"],
  "ignore": [
      "**/default_theme/assets/*"
  ]
}
