{
  "root": true,
  "parser": "espree",
  "rules": {
    "space-in-parens": 2,
    "space-before-blocks": 2,
    "keyword-spacing": 2,
    "space-unary-ops": 2,
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "no-use-before-define": [2, "nofunc"],
    "camelcase": 2,
    "semi": 2,
    "comma-style": 2,
    "no-lonely-if": 2,
    "max-len": [2, 120],
    "no-else-return": 2,
    "no-trailing-spaces": 2,
    "new-cap": 2,
    "no-empty": 2,
    "consistent-return": 0,
    "no-new": 2,
    "key-spacing": 2,
    "no-multi-spaces": 2,
    "valid-jsdoc": 2,
    "brace-style": 2,
    "no-throw-literal": 2,
    "no-self-compare": 2,
    "no-void": 2,
    "no-unused-vars": 2,
    "wrap-iife": 2,
    "no-eq-null": 2,
    "quotes": [2, "single"],
    "indent": [2, 2],
    "curly": 2,
    "no-shadow": 0,
    "no-undef": 2
  },
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  }
}
