.documentation a {
  color: #1184CE;
}

.container-small {
  max-width: 58rem;
  margin-left: auto;
  margin-right: auto;
}

.font-smaller {
  font-size:80%;
}

.fade {
  opacity:0.50;
}

.button-indent {
  padding: .25rem 1.5rem;
  font-size: 90%;
}

.section-indent {
  border-left: 2px solid #eee;
}

.bg-cloudy {
  background: #fafafa;
}

.force-inline * {
  display:inline;
}

section:target {
  background: #fcfbf2;
}

.documentation-sidebar a:active {
  background: #fcfbf2;
}

.documentation,
.documentation h1,
.documentation h2,
.documentation h3,
.documentation h4,
.documentation h5,
.documentation h6,
.documentation pre,
.documentation code,
.documentation samp {
    font-family: 'Inconsolata', Consolas, 'Source Code Pro', monospace;
}

.documentation td,
.documentation th {
    padding: .25rem .25rem;
}
